//Flex mixins

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Components mixins

@mixin button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 50px;
  background: #3487f5;
  cursor: pointer;
}
